.loader-box {
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.loader2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1234;
    background-color: #00000087;
}