.pagination-btn-box{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    margin-top: 3rem;
    border: 0.5px solid rgb(179, 179, 179) ;
}

.page-btn{
    width: 15%;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
    color: blueviolet;
    background-color: transparent;
    cursor: pointer;
}


.page-active{
    border: 1px solid black;
}

@media (min-width: 768px) {
    .pagination-btn-box{
    width: 50%;
    position: relative;
    left: 9rem;
    }
}