.top-wish-6 {
    top: 5rem;
}
.wishlist-container{
    height: auto;
    margin-bottom: 8rem;
    min-height: 80vh;
}

.empty-wishlist{
    text-align: center;
    line-height: 2;
}


.product-container-wishlist{
    padding-top:1.5rem;
        margin-top: 0rem;
}


@media (min-width: 768px){
    .wishlist-container{
        width: 100%;
    }
    .product-container-wishlist {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
        margin-top: 1.5rem;
        column-gap: 0.8rem;
        row-gap: 0.5rem;
        justify-content: center;
        width: 100%;
        padding-top:1.5rem;
        margin-top: 0rem;
    }
}

@media (min-width: 1024px) {
    .wishlist-container{
        width: 100%;
    }
}