.profile-address-btn{
    text-align: center;
}

.profile-address-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile-address-container h2{
    text-align: center;
}


.profile-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px dotted var(--primary-color);
}

.address-btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    align-items: center;
}

.address-btns svg{
    color: white;
    width: 40px;
    border-radius: 12px;
    padding: 0.2rem 0rem;
    font-size: 2rem;
    cursor: pointer;
}
.address-dlt{
    background-color: red;
}
.address-dlt:hover{
    color: red;
    background-color: white;
}

.address-edit {
   background-color: var(--primary-color);
}
.address-edit:hover {
    color: var(--primary-color);
    background-color: white;
}