.filter-container{
    position: fixed;
    top: 5rem;
    width: 0%;
    background-color: rgb(255, 255, 255);
    max-height: 100vh;
    z-index: 2;
    padding: 1rem;
    overflow: scroll;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.p-0{
    visibility: hidden;
}
.filter-button{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.filter-toggle-btn{
    background-color: var(--secondary-color);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5.7rem;
    border: none;
    border-radius: 0px 10px 0px 10px;
}

.sort-price{
    display: flex;
    justify-content: space-between;
    width: 71%;
}

.sort-btn{
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

.sort-btn:focus{
    border-bottom: 3px solid var(--secondary-color) ;
}

.filter-clear-section{
    display: flex;
    justify-content: space-between;
}
.filter-clr-btn{
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    width: 90px;
    text-align: center;
    background-color: #ff4a4a;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cross-filter{
    font-size: 1.8rem;
    cursor: pointer;
}
.category-filter , .brand-filter , .trending-filter, .ratings-sort, .price-filter, .stock-filter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    border-bottom: 1px solid;
    padding: 1rem 0px;
}


.category-filter{
    height: 30vh;
}

.ratings-sort{
    height: 25vh;
}

.trending-filter, .stock-filter{
    height: 10vh;
}
.brand-filter{
    height: 70vh;
    margin-bottom: 10rem;
}
.w-90{
    width: 90%;
    padding: 1rem;
    visibility: 1;
}