.main-product-page{
    margin-top: 3rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 1.5rem;
}
.no-product-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
}


@media (min-width: 460px) {
    .wpl-90 {
        top: 6rem;
        width: 100%;
        margin: auto;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1.5rem;
        column-gap: 0.8rem;
        row-gap: 0.5rem;
    }
}

@media (min-width: 768px) {
    .main-product-page {
        display: flex;
        justify-content: space-around;
        margin:0;
    }
    .no-product-heading{
        height: 40%;
    }
    .product-container {
        display: inline-block;
        flex-direction: column;
        width: 69.8%;
        margin-top: 0rem;
    }

}

@media (min-width: 1024px) {
    .wpl-90{
        width: 90%;
    }
}