.cart-top-6 {
    top: 6rem;
    min-height: 80vh;
}

.cart-heading {
    width: fit-content;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
}

.unlog-cart {
    background-color: white;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
    align-items: center;
    font-size: 1rem;
    margin: auto;
}

.unlog-cart img {
    width: 60%;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

.cart-details {
    width: 100%;
    padding: 1rem;
    min-width: 350px;
    margin: auto;
    font-family: var(--third-font);
    box-shadow: 0px 0px 8px gray;
}

.cart-details::-webkit-scrollbar {
    display: none;
}


.cart-heart-icon {
    position: absolute;
    cursor: pointer;
    top: 0.2rem;
    right: 0.4rem;
}

.cart-page-logo {
    font-size: 10rem;
    width: fit-content;
    margin: auto;
    color: gray;
}




.wishlist-empty h1 {
    margin: 0rem auto 1rem;
}

.green {
    color: #388e3c;
}

@media (min-width: 768px) {
    .cart-container {
        justify-content: center;
        gap: 3rem;
    }

    .unlog-cart {
        width: 70%;
    }

    .cart-details {
        width: 50%;
        max-height: 80vh;
        padding: 1rem;
        overflow: auto;
        min-width: 400px;
        height: fit-content;
        margin: 0;
        font-family: var(--third-font);
    }




}