.main-image{
    width: 100%;
}

.welcome-message{
    box-shadow: 1px 7px 10px rgb(223 221 221);
    padding: 1rem;
    margin-bottom: 2rem;
}

.welcome-message span , .welcome-message p{
    color: gray;
}
.welcome-message h1{
    font-size: 2.5rem;
}
.welcome-message p{
    margin: 0.7rem auto;
}
.btn{
    font-size: 1rem;
    width: 7rem;
    padding: 0.8rem;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 550;
}

.feature-container{
    display: flex;
    flex-wrap: wrap;
}

.feature-item-img{
    width: 250px;
}