
.feature-services {
    width: 90%;
    margin: 3rem auto;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5rem auto;
}

.feature-img-box {
    position: relative;
    height: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.feature-img-box span {
    position: absolute;
    top: 2rem;
    right: 3.2rem;
    background-color: #7272ff;
    font-weight: bold;
    padding: 0.3rem;
    color: white;
    border-radius: 12px 0px 0px 10px;
}

.feature-img-box::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 0%;
    left: 0rem;
    height: 100%;
    background-color: rgb(0 0 0 / 32%);
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
}

.feature-item-detail {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    position: relative;
    width: 25%;
    min-width: 350px;
    text-align: center;
    margin: 1rem auto;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
    max-height:220px
}

.feature-item:hover .feature-img-box::before {
    width: 100%;
}

.feature-item:hover {
    box-shadow: 1px 5px 8px lightgray;
    font-weight: bold;
}

.feature-item-img {
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.feature-item:hover .feature-item-img {
    transform: scale(1.1);
}


.feature-item-detail {
    width: 70%;
    margin: auto;
}