.address-form-container{
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgb(34 34 34 / 66%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-inp-form{
    width: 100%;
    max-width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: aliceblue;

}

.f-address-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.f-address-detail input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.5px solid gray;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.f-address-detail input:focus,  .f-address-inp textarea:focus{
    outline: none;
    border: 1px solid blue;
}

.f-address-detail select{
    width: 100%;
    padding: 0.5rem;
}

.f-address-inp{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .f-address-inp textarea{
    width: 100%;
    height: 100px;
    padding: 0.5rem;
   border-radius: 12px;
   resize: none;

 }

 .f-address-detail-btn-box{
    width: 100%;
    display: flex;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin:0 auto;
}

 .f-address-detail-btn-box button{
    flex-grow: 1;
 }

 .red{
   background-color:  rgb(255, 72, 72);
 }

 .bg-white{
    background-color: whitesmoke;
    color: black;
    outline: 1px solid gray;
 }
 .bg-white:hover{
    color: whitesmoke;
 }

 @media (min-width: 768px) {
    .address-inp-form{
        height: 65vh;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

.f-address-detail{
    flex-direction: row;
}
 }