.main-image {
    width: 100%;
    position: relative;
    z-index: -5;
}

.fade-up-heading {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.slick-slide div {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    opacity: 0.8;
}

.welcome-message {
    box-shadow: 1px 7px 10px rgb(223 221 221);
    padding: 1rem;
    margin-bottom: 2rem;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-message span,
.welcome-message p {
    color: gray;
}

.welcome-message h1 {
    font-size: 2.5rem;
}

.welcome-message p {
    margin: 0.7rem 0px;
}

.btn {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Responsive Design */

@media (min-width: 768px) {

    .top-6 {
        top: 4rem;
    }

    .main-image {
        height: 100%;
    }

    .hero-image-box {
        position: absolute;
        height: 80vh;
    }

    .welcome-message {
        position: absolute;
        font-weight: bold;
        top: 1.5rem;
        left: 2rem;
        min-width: 395px;
        background: #ffffffcf;
        width: 40%;
        box-shadow: 1px 7px 10px rgb(0, 0, 0);
        text-shadow: 0px 1px 0px black;
    }
}

@media (min-width: 1024px) {

    .top-6 {
        top: 5rem;
    }
}