.filter-button{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.w-90{
    width: 90%;
}

.filter-toggle-btn{
    background-color: var(--secondary-color);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5.7rem;
    border: none;
    border-radius: 0px 10px 0px 10px;
}

.sort-price{
    display: flex;
    justify-content: center;
    width: 71%;
}

.sort-price h3{
    position: absolute;
    top: 4.1rem;
    display: inline-block;
    width: 100%;
    max-width: 100vw;
    left: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-color: aliceblue;
    padding: 1rem;
    padding-top: 0.5rem;
}

.sort-by-price-main-btn-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sort-btn{
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.sort-btn-focus{
    border-bottom: 3px solid var(--secondary-color) ;
}
.b-l{
    border-left: 0.5px solid gray;
  }

@media (min-width: 768px){
    .filter-button{
        width: 98%;
        justify-content: flex-end;
    }
    .filter-toggle-btn{
        display: none;
    }
    .sort-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    .sort-price h3{
        position: static;
        padding: 0;
        width: auto;
    }
}