.main-checkout-box{
    font-family: var(--third-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.order-placed-msg-box{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    margin: auto;
}

.top-6-checkout{
    top: 6rem;
    height: fit-content;
    margin-bottom: 10rem;
}

.address-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address-box{
    position: relative;
    border: 2px solid #a7a7ff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.address-box-type{
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0rem 0.4rem;
    background-color: #faffeb;
    border-radius: 6px 0px 0px 6px;
    outline: 1px solid gray;
    color: #606060;
    font-weight: bold;
}

.add-address-btn-box{
    text-align: center;
    background-color: aliceblue;
    position: sticky;
    bottom: -1rem;
}

.add-address-btn{
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem 0rem;
    background-color: rgb(50, 183, 255);
    border: none;
    outline: 1px solid #515151;
    cursor: pointer;
    font-weight: bold;
}

.add-address-btn:hover{
    background-color: whitesmoke;
    border: none;
}

.order-detail-container{
    width: 100%;
    margin: 1rem 0;
}

.order-names-box{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px,1fr));
    row-gap: 0.5rem;
    max-height: 150px;
    overflow: auto;
}

.order-names-box::-webkit-scrollbar {
    display: none;
}
.order-names-box h4{
    position: sticky;
    top: 0;
    background-color: white;
}

.order-names-box *{
    display: flex;
    justify-content: space-between;
}

.c-price-heading{
    border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray;
    padding: 0.5rem 0rem;
    text-align: center;
    margin: 0.5rem 0;
}

.c-cart-price-box {
    font-family: var(--third-font);
    width: 100%;
    max-width: 456px;
    margin: auto;
    background-color: white;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
    box-shadow: 0px 2px 8px gray;
}

.selected{
    background-color: #d8f6ff;;
}

@media (min-width: 768px) {
    .top-6-checkout{
        width: 90%;
    }
    .main-checkout-box{
        justify-content: space-between;
        align-items: baseline;
    }
    .order-detail-container{
        margin: 0;
    }
    .address-container{
        width: 50%;
        height: fit-content;
        max-height: 80vh;
        overflow: auto;
        padding: 1rem;
        box-shadow: 1px 1px 6px gray;
    }

    .address-box{
        width: 100%;
    }
    .add-address-btn{
        max-width: 300px;
        margin: 1rem auto;
    }
    .order-detail-container {
        width: 50%;
        max-width: 390px;
    }

    
}