.navbar {
    background:  linear-gradient(109deg, rgba(215,220,255,1) 17%, rgba(55,84,113) 59%);
    /* max-height: 4.44rem; */
    width: 100%;
    position: fixed;
    z-index: 11;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    padding: 1rem;
}

.nav-top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    cursor: pointer;
}

.navbar-icons-section{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.search-icon{
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    
}



.hamburger-menu {
    font-size: 1.8rem;
    cursor: pointer;
}


.nav-links-mobile {
    position: absolute;
    top: 5.08rem;
    right: 0rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    list-style: none;
}

.nav-links-mobile li {
    margin: 1rem;
}

.nav-links {
    display: none;
}


.link-name {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 50%;
}

.link-name:hover {
    border: 1px solid;
    text-decoration: underline;
    color: white;

}

.search-input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    top: 4.474rem;
    text-align: center;
    width: 100%;
}

.search-input-box label svg{
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 0.2rem;
}

.search-btn{
    width: 70%;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

.disp-none{
    display: none;
}

@media (min-width: 768px) {
    .logo {
        width: 40%;
    }

    .search-icon{
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
    padding: 0.5rem;
    border-radius: 50%;
    }

    .search-icon:hover{
        border: 1px solid;
        text-decoration: underline;
        color: white;
}
    .navbar-icons-section{
        width: 50%;
    }

    .nav-links {
        list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-size: 18px;
    color: gray;
    }

    .link-name {
        color: white;
    font-size: 1.5rem;
    }
    .search-input-box label svg{
        font-size: 1.5rem;
        }


    .hamburger-menu {
        display: none;
    }
}