.navbar {
    background:  linear-gradient(109deg, rgba(215,220,255,1) 17%, rgba(55,84,113) 59%);
    height: 4.44rem;
    width: 100%;
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.logo {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    cursor: pointer;
}

.hamburger-menu {
    font-size: 1.8rem;
    cursor: pointer;
}


.nav-links-mobile {
    position: absolute;
    top: 4.4rem;
    right: 0rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    list-style: none;
}

.nav-links-mobile li {
    margin: 1rem;
}

.nav-links {
    display: none;
}


.link-name {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 50%;
}

.link-name:hover {
    border: 1px solid;
    text-decoration: underline;
    color: white;

}

@media (min-width: 768px) {
    .logo {
        width: 40%;
    }

    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        font-size: 18px;
        margin: 1rem;
        color: gray;
    }

    .link-name {
        color: white;
    }

    .hamburger-menu {
        display: none;
    }
}