.filter-container {
  position: fixed;
  top: 4rem;
  width: 0%;
  background-color: rgb(255, 255, 255);
  max-height: 100vh;
  z-index: 5;
  /* padding: 1rem; */
  max-width: 300px;
  overflow: scroll;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.filter-container h3 {
  color: #1a0080;
  margin-bottom: 0.5rem;
}

.filter-container > div{
  padding: 1rem 1rem;
}

.sort-section {
  background-color: aliceblue;
}

.filter-container label {
  padding: 0.3rem 0rem;
}

input {
  margin: 0.2rem 0.5rem;
}

.filter-heading {
  display: none;
}

.filter-clear-section {
  display: flex;
  justify-content: space-between;
}

.filter-clr-btn {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  width: 90px;
  text-align: center;
  background-color: #ff4a4a;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out;
  -ms-transition: background-color 0.8s ease-in-out;
  -o-transition: background-color 0.8s ease-in-out;
}

.filter-clr-btn:hover {
  background-color: #7f3636;
}

.cross-filter {
  font-size: 1.8rem;
  cursor: pointer;
}


input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  width: 100%;
  margin: 0px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

datalist {
  display: flex;
  justify-content: space-between;
}

option {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.category-filter,
.brand-filter,
.trending-filter,
.ratings-sort,
.price-filter,
.stock-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
  border-bottom: 1px solid;
  padding: 1rem 0px;
}

.brand-filter {
  margin-bottom: 7rem;
}


@media (min-width: 768px) {
  .sort-section {
    position: sticky;
    z-index: 1;
    top: 4rem;
    background-color: aliceblue;
  }

  .filter-button {
    width: 100%;
    justify-content: flex-end;
  }

  .filter-toggle-btn {
    display: none;
  }

  .sort-price {
    display: flex;
    justify-content: flex-start;
    width: 71%;
  }

  .filter-heading {
    display: block;
  }

  .filter-container {
    display: inline-block;
    position: sticky;
    top: 4rem;
    height: fit-content;
    max-height: fit-content;
    overflow: hidden;
    width: 30%;
    max-width: 300px;
  }

  .v-0 {
    visibility: visible;
  }

  .d-none {
    display: none;
  }
}