.product-card {
    position: relative;
    outline: 0.5px solid rgb(204, 204, 204);
    background-color: white;
    font-family: var(--third-font);
}



.product-card-img::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0rem;
    width: 0%;
    left: 0rem;
    height: 100%;
    background-color: rgb(0 0 0 / 32%);
    transition: width 0.5s ease-in-out;
}

.product-card:hover .product-card-img::before {
    width: 100%;
}

.product-card:hover .product-card-img img {
    transform: scale(1.1);
}

.stock-checker::after {
    content: "Out Of Stock";
    background-color: rgba(0, 0, 0, 0.352);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top:0rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: red;
    cursor: not-allowed;
    text-shadow: 3px 1px 3px black;
}



.wishList-icon {
    position: absolute;
    font-size: 1.5rem;
    top: 0.4rem;
    cursor: pointer;
    z-index: 3;
    right: 0.3rem;
    color: gray;
    animation: popOut 0.8s ease-in-out;
    -webkit-animation: popOut 0.8s ease-in-out;
}

.wishList-icon:hover{
    color: red;
}

@keyframes popOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.6);
}
100%{
    transform: scale(1);
}
  }

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .shake-animation {
    animation: shake 0.5s;
  }


.product-card-img {
    position: relative;
    text-align: center;
    padding: 0.9rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
    height: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.product-card-img img {
    width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.trending {
    position: absolute;
    top: 0rem;
    left: 0;
    background-color: #ff772e;
    font-size: 0.8rem;
    color: white;
    padding: 0.2rem 0.3rem;
    border-radius: 0px 12px 0px 12px;
}

.rating {
    background-color: #388e3c;
    color: white;
    padding: 0.2rem 0.4rem;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.disp-info-pc{
    padding: 0.8rem;
}

.product-card-info {
    display: grid;
    grid-template-rows: repeat(3, 0.9fr);
    grid-template-columns: 1fr;
    align-items: start;
}

.product-title {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-title:hover {
    color: blueviolet;
    cursor: pointer;
}

.description {
    display: none;
}

.price-box {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    width: 90%;
    align-items: center;
}
.price-box *{
    cursor: pointer;
}

.discount {
    color: #388e3c;
}

.original-price {
    color: gray;
    text-decoration: line-through;
}

.price {

    font-weight: bolder;
}

.btn-box {
    width: 100%;
    text-align: center;
}

.btn-box .btn{
    margin: 0.8rem auto 0px;

}

.btn {
    font-size: 1rem;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 550;
    cursor: pointer;
    margin: 0.8rem auto;
    transition: background-color 0.5s ease-in-out;
}

.btn-p-w{
    width: 80%;
    padding: 0.6rem 0.8rem;
}


.btn:hover {
    background-color: black;
}

.byn-btn {
    display: none;
}

.c-red{
    color: red;
}

.cursor-disable{
    cursor:not-allowed;
}

.third-color{
    background-color: var(--third-color);
    animation: popOut 0.6s ease-in-out;
}

@media (min-width: 768px) {
    .product-card {
        display: flex;
        justify-content: space-around;
        max-height: 17rem;
    }

    .product-card-img {
        text-align: center;
        padding: 0.9rem;
        width: 40%;
        height: 233px;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .product-card-img img {
        object-fit: contain;
    }

    .disp-info-pc {
        width: 60%;
        border-left: 0.4px solid #e7e7e7;
    }

    .description {
        display: block;
        height: 44.8px;
        cursor: pointer;
        overflow: hidden;
    }

    .price-box {
        width: 50%;
    }

    .btn-box {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 0.5rem;

    }

    .byn-btn {
        display: block;
        background-color: var(--secondary-color);
    }

    .w-fit {
        width: fit-content;
        min-width: 132px;
        text-align: center;
    }

    .m-0 {
        margin: 0px;
    }    
}