@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Source+Sans+Pro&display=swap');

:root{
    --primary-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Cedarville Cursive', cursive;
    --primary-color: #4b79b0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: var(--primary-font);
    background-color: aliceblue;

}

.container{
    position: relative;
    top: 5.02rem;
}


@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}