.s-product-information-card{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    background-color: white;
}

.s-top-6{
    top: 6rem;
}

.product-image-box{
    position: relative;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid gray;
}

.product-image-box img{
    width: 100%;
    object-fit: contain;
    max-height: 50vh;
}

.s-product-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50vh;
    padding: 0.5rem;
}

.s-product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
}

.s-product-info h1{
    font-size: 2rem;
}

.s-description{
    font-size: 1.2rem;
}

.s-product-info p{
    font-size: 1rem;
}

.s-price-box{
    width: 75%;
    font-size: 1.5rem;
}

.s-btn-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s-btn-box .btn{
    margin: 0px;
    padding: 1rem 2rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.s-byn-btn{
    background-color: var(--secondary-color);
}

@media (min-width: 768px) {

    .s-product-information-card{
        display: flex;
        flex-direction: row;
        margin-bottom: 0rem;
        width: 100%;
        padding: 1rem;
        max-width: 940px;
    }

    .s-top-6{
        top: 4rem;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .product-image-box{
        display: flex;
    align-items: center;
        width: auto;
        border-bottom: 0rem;
        min-width: 497px;
    }
    .s-product-info{
        padding: 0.5rem;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        grid-gap: 0.75rem;
        gap: 0.75rem;
        height: auto;
    }

    .s-product-details{
        height: auto;
        border-left: 0.5px solid #cbcbcb;
        padding: 0.5rem;
    }
    .s-price-box{
        padding-left: 0.4rem;
    }
    .s-btn-box{
        margin: 1rem 0px;
    }
}

@media (min-width: 1024px){
    .s-top-6{
        width: 90%;
    }
    .s-product-information-card{
        width: 80%;
    }
}